<style>
  .ajax-loader {
  visibility: hidden;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: +100;
  top: 0;bottom: 0;left: 0;right: 0;
}

.ajax-loader img {
  position: relative;
  top:50%;
  left:50%;
}
</style>

<div class="ajax-loader">
  <img src="bower_components/hourglass.gif" class="img-responsive" />
</div>


<div class="page-header">
  <h2>{{request.URL}}</h2>
</div>

<!-- Add Mapping Button =========== Start  -->

<div class="row" ng-show="!showAdd"> 
  <div class="form-group">
    
    <div class="col-lg-4 col-lg-offset-4">
     <button class="btn btn-primary" ng-click="showAdd = true" style="width:100%">Add Mapping</button>
    </div>    
  </div> 
</div>

<!-- Add Mapping Button  =========== End  -->

<!-- Add Mapping =========== Start  -->
<div class="row" ng-show="showAdd"> 
  <div class="col-lg-1 col-lg-offset-11">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showAdd = false"><span aria-hidden="true">&times;</span></button>
   </div>
</div>

<div class="row" ng-show="showAdd" style="margin-top:10px"> 
  <div class="col-lg-4">

    <div class="row" style="margin-top:50px">
        <select class="form-control" ng-model="attribute" ng-options="attr.AttributeName for attr in attributes">    
        </select>
    </div>
  </div>  
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="username" placeholder="Username">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <input type="password" class="form-control" ng-model="password" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="server" placeholder="Server Name">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="database" placeholder="DB Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="table" placeholder="Table Name">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="column" placeholder="Column Name">
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="row" ng-show="showAdd">
  <div class="col-lg-4 col-lg-offset-4">
    <button class="btn btn-primary" ng-click="addMapping()" style="width:100%">Submit</button>
  </div>
</div>

<!-- Add Request  =========== End  -->

<hr>

<!-- List of Mappings  =========== Start  -->

<div class="list-group" ng-show="successMapping && mappings.length > 0" style="margin-top:40px"> 
  
  <div class="list-group-item" ng-repeat="mapping in mappings track by mapping.MappingId">
  	  <a role="button">{{mapping.MappingId}}</a>
      <div class="pull-right">
        
        <a role="button" ng-click="getInfoMapping(mapping.MappingId)" style="padding:5px">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
        <a role="button" ng-click="deleteMapping(mapping.MappingId)" style="padding:5px">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
      </div>
	  
  </div>
</div>


<div ng-show="successMapping && mappings.length == 0" class="jumbotron" style="margin-top:40px">
  No Mapping present !!!
</div>

<div ng-show="!successMapping" class="jumbotron" style="margin-top:40px">
  Opps!! Some Error Occured. Message : {{errorMessage}}
</div>

<!-- List of Mappings  =========== End  -->



<!-- Mapping info modal  =========================================== Start  -->

<div class="modal fade" tabindex="-1" role="dialog" ng-repeat="mapping in mappings track by mapping.MappingId" id="modal{{mapping.MappingId}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{mapping.MappingId}}</h4>
      </div> -->
      <div class="modal-body" id="modalbody{{mapping.MappingId}}">
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Mapping info modal  =========================================== End  -->


